<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cyhooks</title>
    <style type="text/css">
      body {
        padding-top: 40px;
      }
      .heading-link, .heading-link:hover {
        text-decoration: none;
        text-transform:uppercase;
      }
      .panel-heading {
        cursor: pointer;
      }
    </style>
    <!-- Bootstrap -->
    <link href="/webhook/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="panel-group jumbotron" id="accordion">
    {{range .}}
    <div class="panel {{if .Ok}}panel-success{{ else if eq .Status "failed" }}panel-danger{{ else }}panel-default{{ end }}">
      <div class="panel-heading">
      <a class="heading-link" data-toggle="collapse" data-parent="#accordion" href="#collapse{{.Id}}">
      {{.Repo}} <span class="label label-default">{{.Status}}</span> <span style="float:right">{{.Duration}}  <span class="badge">{{.Id}}</span></span>
      </a>
      </div>
      <div id="collapse{{.Id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <h5>{{.Date}}</h5>
      <code>
        {{.Output}}
        }
      </code>
      </div>
      </div>
    </div>
    {{end}}
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/webhook/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $('.heading-link').click(function(e){
            e.stopPropagation();
            $($(this).attr('href')).collapse('toggle');
      })
      $('.panel-heading').click(function(e) {
            $(this).children('a').click();
        }
      )
    </script>
  </body>
</html>